<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars Explorer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- Vue.jx -->
    <script src="https://unpkg.com/vue@next" defer></script>
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'people/style.css' %}" />
    <script src="{% static 'people/home.js' %}" defer></script>
    <!-- <script type='text/javascript'>
      var people = {{ people_data|safe }};
    </script> -->
  </head>
  <body id="vue_app">
    <header>
      <h1><a :href="url">Star Wars Characters Explorer</a></h1>
    </header>

    <section id="collections">
      <h2>Collections</h2>
      <button v-if="fetchError" @click="fetchNewData()">[[ fetchError ]]</button>
      <button v-else-if="isLoading">Loading...</button>
      <button v-else @click="fetchNewData()">Fetch data</button>

      <p v-if="loadError">[[ loadError ]]</p>
      <p v-else-if="peopleData.length === 0">
        No people data available. Please fetch the fresh data.
      </p>
      <ul v-else>
        <li v-for="person in peopleData" :key="person.id">
          <a :href="url + person.id + '/'">[[ person.date_created ]]</a>
          <a :href="url + 'api/people/' + person.id + '/file_download/'" download>
            <i class="bi bi-download"></i>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
