<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars Explorer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link rel="stylesheet" href="{% static 'people/style.css' %}">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="{% static 'people/app.js' %}" defer></script>
    <!-- <script src="app.js" defer></script> -->
  </head>
  <body>
    <header>
      <h1>Star Wars Characters Explorer</h1>
    </header>
    <section id="collections">
      <h2>Collections</h2>
      <button @click="add">Add</button>
      <button @click="reduce()">Reduce</button>
      <p>Result: {{ counter }}</p>

      <input type="text" v-model="name">
      <button @click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullName }}</p>

      <form @submit.prevent="submitForm">
        <input type="text">
        <button>Sign Up</button>
      </form>

      <br><br>
      <h2>People data</h2>
      {% if people_data %}
        <ul>
          {% for item in people_data %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No people data available.</p>
      {% endif %}
    </section>
  </body>
</html>
