* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0 0.5rem;
}

header a {
  color: white;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #4fc08d;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#collections {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  /* max-width: 40rem; */
}

.details {
  width: 90rem;
}

#collections h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #4fc08d;
  margin: 0 0 1rem 0;
}

#collections p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
}

#collections ul {
  list-style-type: none;
  padding: 0;
}

#collections li {
  margin: 0.5rem;
}

#collections input {
  font: inherit;
  border: 1px solid #ccc;
}

#collections input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

#collections button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  margin: 0.5rem 1rem;
}

#collections button:hover,
#collections button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

#collections div{
  display: flex;
  justify-content: center;
  align-items: center;
}

#not-found p {
  width: 40rem;
  margin: auto;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #292828;
  font-weight: 500;
}

.depiction {
  font-size: 0.75rem;
  color: #555755;
  margin: 1rem auto;
}

.column-select{
  margin-bottom: 1rem;
}

.toggle {
  height: 3rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  padding: 2rem;
}

.toggle-description {
  font: inherit;
  cursor: pointer;
  border: 1px solid #8c8c8c;
  background-color: #999999;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  margin: 0.5rem 1rem;
}

.active {
  background-color: #47b382;
  border: 1px solid #47b382;
}


.switch input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
